* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-orange {
    color: #FD6E0A;
}

.btn-orange {
    color: #FFFFFF;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    padding: 18px 35px;
    border-radius: 5px;
    border: 0;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Header and nevigation style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 225px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
    color: #474747;
}

/* banner style  */
.banner {
    margin: 0 225px;
    display: flex;
    align-items: center;
}

.titel-text {
    font-size: 85px;
    font-weight: 700;
}

.sub-title-text {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
}

.titel-descreiption {
    color: #757575;
    margin: 20px 0;
    font-size: 18px;
}

.banner-btn {
    display: flex;
    gap: 30px;
}

.btn-contact {
    color: #FD6E0A;

    background-color: #FFF8F3;
    border: 1px solid #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    padding: 18px 35px;
    border-radius: 5px;
}

/* main section style  */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-section {
    background: #FFF8F3;
    border-radius: 10px;
    margin-top: 130px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.section-description {
    text-align: center;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

/* table {
    margin: 0 auto;
    margin-top: 30px;
}

table tr td {

    padding-right: 30px;
    color: #757575;
    font-size: 20px;
    text-align: center;
}

.info td {
    color: #474747;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
} */

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.info-title {
    color: #757575;
    font-size: 20px;
}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

.what-i-do-section {
    border-radius: 10px;
    margin-top: 130px;
    padding: 130px 150px;
}

.what-i-do-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.what-i-do-description {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}

.skills-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;

}

.skill {
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px 33px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin: 20px 0;

}

.skill-description {
    font-size: 16px;
    color: #757575;
}

/* resume section style  */
.resume-section-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}

.resume-content {
    display: flex;
    gap: 70px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 113px;
}

.resume-item {
    margin: 30px 0;
}

.resume-content .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-content .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;

}

.resume-content .description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

.resume-btn {
    margin-top: 50px;
    text-align: center;
}

.contact-section {
    margin-top: 113px;
    display: flex;
    gap: 115px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.contact-elements {}

.contact-section .contact-title {
    text-align: left;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

.contact-description {
    font-size: 14px;
    color: #474747;
}

.social-icon {
    display: flex;
    gap: 24px;
}

.contact-section input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: none;
    width: 100%;
    padding: 18px 30px;
}

input {
    height: 64px;
}

.contact-description {
    margin-bottom: 30px;
}

.contact-section a {
    text-decoration: none;
}