* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-orange {
    color: #FD6E0A;
}

.btn-orange {
    color: #FFFFFF;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    padding: 18px 35px;
    border-radius: 5px;
    border: 0;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Header and nevigation style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 225px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

/* banner style  */
.banner {
    margin: 0 225px;
    display: flex;
    align-items: center;
}

.titel-text {
    font-size: 85px;
    font-weight: 700;
}

.sub-title-text {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
}

.titel-descreiption {
    color: #757575;
    margin: 20px 0;
    font-size: 18px;
}